* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  width: 100dvw;
  height: 100dvh;
  background-color: #4a35a7;
}

.container {
  width: 300px;
  padding: 4vmin 0;
  background-color: #241a50;
  color: white;
}

.container div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vmin;
  white-space: nowrap;
}

.container div p {
  font-size: 3vmin;
}

input[type="number"] {
  width: 17%;
  padding: 0 1vmin;
  outline: none;
}

div.text {
  background-color: #140c3a;
  padding: 1vmin;
}

.fa-copy {
  background-color: #4a35a7;
  padding: 2vmin;
}

div.button {
  background-color: #4a35a7;
  font-size: 3vmin;
  justify-content: center;
  padding: 2vmin;
}

.fa-copy,
div.button {
  cursor: pointer;
}
